@charset "UTF-8";

:root {
    --cor0: hsl(351, 52%, 71%);
    --cor1: hsl(351, 52%, 56%);
    --cor2: hsl(351, 52%, 41%);
    --cor3: hsl(351, 52%, 26%);
    --cor4: hsl(351, 52%, 11%);

    --cor5: hsl(0, 0%, 71%);
    --cor5: hsl(0, 0%, 56%);
    --cor5: hsl(0, 0%, 41%);
    --cor5: hsl(0, 0%, 26%);
    --cor5: hsl(0, 0%, 11%);

}