body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.box {
    width: 300px;
    height: 50vmin;
    background-color: #999;
}

.box-interno {
    background-color: #333;
    color: #fff;
    width: 50%;
}
