div{
    background-color: #aaf;
    width: 100px;
    height: 100px;
}

div:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div:nth-child(2) {
    color: red;
}

div:nth-last-child(2) {
    color: red;
}

div.a {
    background-color: #0ff;
}

body:not(p) {
    color:#bb9955;
}