body {
    background-color: green;
}

@media (min-width: 1000px) {
    body {
        background-color: blue;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    body {
        background-color: purple;
    }
}

@media (min-width: 300px ) and (max-width: 700px) {
    body {
        background-color: yellow;
    }
}

    h1 {
        font-size: 15px;
    }